.custom-pagination .swiper-pagination-bullet {
  width: 23px;
  height: 4px;
  border-radius: 10px;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #e50000;
  width: 35px;
}