/* NavbarHorizontal */
@keyframes showStickyNavbar {
  0% {
    height: 0;
  }
  50% {
    height: 11%;
  }
  100% {
    height: auto;
  }
}
.shownAnimation {
  animation: showStickyNavbar 45ms ease-in-out 0s 1 normal forwards;
}

/* NavbarVertical */
@keyframes showSidebar {
  0% {
    left: -220px;
  }
  100% {
    left: 0;
  }
}

@keyframes hideSidebar {
  0% {
    left: 0px;
  }
  100% {
    left: -220px;
  }
}

.showSidebarAnimation {
  animation: showSidebar 500ms ease-in-out 0s 1 normal forwards;
}

.hideSidebarAnimation {
  animation: hideSidebar 500ms ease-in-out 0s 1 normal forwards;
}
