@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: ManropeRegular;
  src: url(../fonts/Manrope/Manrope-Regular.ttf);
}
@font-face {
  font-family: ManropeMedium;
  src: url(../fonts/Manrope/Manrope-Medium.ttf);
}
@font-face {
  font-family: ManropeSemiBold;
  src: url(../fonts/Manrope/Manrope-SemiBold.ttf);
}
@font-face {
  font-family: ManropeBold;
  src: url(../fonts/Manrope/Manrope-Bold.ttf);
}

@layer components {
  .freeTrail {
    background:url("./assets/images/freeTrail.png");
    background-position: center;
  }
}