@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: ManropeRegular;
  src: url(../fonts/Manrope/Manrope-Regular.ttf);
}
@font-face {
  font-family: ManropeMedium;
  src: url(../fonts/Manrope/Manrope-Medium.ttf);
}
@font-face {
  font-family: ManropeSemiBold;
  src: url(../fonts/Manrope/Manrope-SemiBold.ttf);
}
@font-face {
  font-family: ManropeBold;
  src: url(../fonts/Manrope/Manrope-Bold.ttf);
}

@layer components {
  .freeTrail {
    background: url("./assets/images/freeTrail.png");
    background-position: center;
  }
  .formErrorsMessage {
    @apply text-red-45 text-xs;
  }
  .homeHeader {
    @apply top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 md:left-32 md:translate-x-0;
  }
  .moviesHeader {
    @apply flex flex-col items-center absolute bottom-20 left-1/2 -translate-x-1/2;
  }
  .movieCardImg {
    border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
  }
  .movieDetail {
    @apply flex items-center gap-1 text-gray-60;
  }
}

/* Hide Input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
